body {
  font-family: 'Montserrat', sans-serif;
}

.nav h2 {
  font-size: 30px;
  margin-left: 5em;
  margin-right: 21em;
}

.nav h3 {
  font-size: 20px;
  margin-right: 20em;
}

.nav h4 {
  font-size: 20px;
}

.nav h2,
h3,
h4 {
  display: inline;
}

.nav {
  margin-top: 20px;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  text-align: center;
  font-size: 8em;
}

.hero {
  min-height: 100vh;
  position: relative;
}
.hero img {
  position: absolute;
  left: 0;
  top: 10%;
  height: 100%;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
  animation: reveal 1s ease forwards;
  opacity: 0;
}
.hero video {
  position: absolute;
  left: 0;
  top: 10%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: reveal 1s ease 0.5s forwards;
  opacity: 0;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1700px) {
  .nav h2 {
    margin-left: 14%;
    margin-right: 25%;
  }

  .nav h3 {
    margin-right: 20%;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 6em;
    transform: translateX(-50%) translateY(-20%);
  }

  .nav h2 {
    text-align: center;
    margin-left: 40%;
  }

  .nav h3 {
    margin-left: 2%;
    margin-right: 50%;
  }
}
