body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.home {
  font-size: 30px;
  margin-left: 5em;
  margin-right: 21em;
}

.photography {
  font-size: 20px;
  margin-right: 20em;
}

.join {
  font-size: 20px;
}

.home,
.photography,
.join {
  margin-top: 20px;
  font-weight: bold;
  display: inline-block;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  text-align: center;
  font-size: 8em;
}

.hero {
  min-height: 100vh;
  position: relative;
}
.hero img {
  position: absolute;
  left: 0;
  top: 10%;
  height: 100%;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
  animation: reveal 1s ease forwards;
  opacity: 0;
}
.hero video {
  position: absolute;
  left: 0;
  top: 10%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: reveal 1s ease 0.5s forwards;
  opacity: 0;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1700px) {
  .home {
    margin-left: 14%;
    margin-right: 25%;
  }

  .photography {
    margin-right: 20%;
  }
}

@media screen and (max-width: 700px) {
  .hero img,
  .hero video {
    top: 0%;
  }

  h1 {
    font-size: 6em;
    transform: translateX(-50%) translateY(-40%);
  }

  .home {
    margin-left: 42%;
  }

  .photography {
    margin-left: 39%;
    margin-right: 17%;
  }

  .join {
    margin-left: 46%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 4.5em;
    transform: translateX(-50%) translateY(-25%);
  }

  .home {
    margin-left: 37%;
  }

  .photography {
    margin-left: 32%;
    margin-right: 17%;
  }

  .join {
    margin-left: 43%;
  }
}
